
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #202020;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: azure;
}
h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(91, 91, 91);
}
.green {
    color: #00ff00;
}
.white {
    color: white;
}
.grey {
    color: grey;
    background: rgb(25,25,25);
    background: linear-gradient(0deg, rgba(25,25,25,0.9585084033613446) 0%, rgba(54,54,54,1) 80%);
}
.smalltext {
    font-size: 0.75rem;
    margin-top: 0.25rem;
}
.textfield{
    color : white;
}
.textfield__label{
    color : white !important;
}