@tailwind base;
@tailwind components;
@tailwind utilities;

/*Example comment*/
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.center_text{
    margin: auto;
    width: 50%;
}

h1 {
    color: #000;

    font-family: "PT Serif";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.italics {
    font-size: 18px;
    margin-bottom: 1rem;
    color: black;
    font-style: italic;
}

h2 {
    font-size: 2rem;
    margin: 1rem;
    color: rgb(91, 91, 91);
}

.sh {
    color: #000;

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.custom-text {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.green {
    color: #00ff00;
}

.white {
    color: white;
}

.grey {
    color: grey;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 9%, rgba(236, 236, 236, 1) 89%);
}

.largetext {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.smalltext {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    margin-bottom: 0.025rem;
}

.textfield {
    color: white;
}

.center_text

.textfield__label {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.minimummargin {
    font-size: 0.75rem;
    margin-top: 0.01rem;
    margin-left: 0.5rem;
    margin-bottom: 0.01rem;
}

.link{
    color: #85E458;
}

.custom-box {
    padding: 10px;
    width: 750px;
    height: 750px;
    flex-shrink: 0;
    background: #F6F6F6;
}

.custom-input {
    font-size: 16px !important;
    margin: 0.5em 0em !important;
    width: 45% !important;
    color: black !important;
}

.button {
    font-size: 16px !important;
    margin: 0.5em 0.5em !important;
    border-radius: 14px;
    background: #85E458;
    width: 282px;
    height: 41px;
    flex-shrink: 0;
    color: white !important;
}

.tablecell {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #ddd;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.form-item-spacing {
    margin-bottom: 10px;
    border-radius: 7px;
    width: 282px;
    height: 41px;
    /* Adjust the value as needed */
}

.logout {
    width: 75px;
    height: 73.108px;
    flex-shrink: 0;
    fill: #FF737B;
}