@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #f0f0f0;
}
h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: azure;
}
h2 {
    font-size: 2rem;
    margin: 1rem;
    color: rgb(91, 91, 91);
}
.green {
    color: #00ff00;
}
.white {
    color: white;
}
.grey {
    color: grey;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 9%, rgba(236,236,236,1) 89%);
}
.largetext {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.smalltext {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    margin-bottom: 0.025rem;
}
.textfield{
    color : white;
}
.textfield__label{
    color : white !important;
}
.minimummargin{
    font-size: 0.75rem;
    margin-top: 0.01rem;
    margin-left: 0.5rem;
    margin-bottom: 0.01rem;

}
.custom-input{
    font-size: 16px !important;
    margin: 0.5em 0em !important;
    width: 45% !important;
    color: black !important;
}
.button{
    font-size: 16px !important;
    margin: 0.5em 0.5em !important;
    width: 15% !important;
    color: white !important;
}
.tablecell{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}
tr:hover {
    background-color: #ddd;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}